:host {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    border-radius: 1em;
    width: 600px;
    margin: auto;
    background-color: aliceblue;

    mat-grid-tile {
        padding: 5px;
        img {
            margin: 5px;
            border-radius: 50%;
            cursor: pointer;
            box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.4);
            max-height: 85%;
            max-width: 85%;
            &.selected {
                opacity: .5;
            }
        }
    }
}