<header>
  <form class="filters">
    <mat-form-field>
      <mat-label>Nom</mat-label>
      <input matInput placeholder="Ex. Yoshi" [formControl]="searchControl">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Plateforme</mat-label>
      <mat-select [formControl]="deviceControl">
        <mat-option value="null"></mat-option>
        @for (device of devices$ | async; track device.code) {
          <mat-option
            [value]="device.code"
            [matTooltip]="device.description_fr"
            [matTooltipPosition]="'left'"
          >
            <img [ngSrc]="device.logo" width="15" height="15" [alt]="device.name"/>
            {{device.name}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Trier</mat-label>
      <mat-select [formControl]="sortControl">
        <mat-option [value]="{ field: 'release_date_eur', sort: 'DESC' }">Les plus récent d'abord</mat-option>
        <mat-option [value]="{ field: 'release_date_eur', sort: 'ASC' }">Les plus anciens d'abord</mat-option>
        <mat-option [value]="{ field: 'name', sort: 'ASC' }">Par ordre alphabétique</mat-option>
        <mat-option [value]="{ field: 'name', sort: 'DESC' }">Par ordre alphabétique inversé</mat-option>
        <mat-option [value]="{ field: 'popularity', sort: 'DESC' }">Les plus populaires</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</header>
@let games = (games$ | async);
<main>
  @defer( when !!games){
    <app-infinite-scroll (scrolled)="fetchMore()">
      <table mat-table [dataSource]="games!" class="mat-elevation-z5">
        <!-- Image Column -->
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef> Image </th>
          <td mat-cell *matCellDef="let element"> <img [src]="element.image" [alt]="'image for ' + element.name"> </td>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
  
        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date de sortie </th>
          <td mat-cell *matCellDef="let element"> {{element.release_date | date}} </td>
        </ng-container>
  
        <!-- Genres Column -->
        <ng-container matColumnDef="genres">
          <th mat-header-cell *matHeaderCellDef> Genre(s) </th>
          <td mat-cell *matCellDef="let element">
            @for(genre of element.genres; track genre.code) {
              <img
                [ngSrc]="genre.icon" width="30" height="30"
                [alt]="'icon for genre ' + genre.name"
                [matTooltip]="genre.name"
              />
            }
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="['image', 'name', 'date', 'genres']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['image', 'name', 'date', 'genres'];"></tr>
      </table>
    </app-infinite-scroll>

  } @placeholder (minimum 300) {
    <div class="spinner-container">
      <mat-spinner/>
    </div>
  } @error {
    you lose
  }
</main>
<footer>
  <p>on mettra des infos ici plus tard</p>
</footer>
