:host {
  padding: 1rem;
  flex-grow: 1;
  background: {
    image: url("https://i.pinimg.com/originals/8f/1a/b8/8f1ab8b14a55720d6859620a6f596933.jpg");
    attachment: fixed;
    size: contain;
  };
  border-radius: 0 10px 10px 0;
  max-height: 100%;
  main {
    table {
      img {
        max-height: 8vh;
      }
    }
    overflow: auto;
    height: 75vh;
  }
  header, footer {
    height: 10vh;
  };

  .spinner-container {
    display: flex;
    justify-content: center;
  }
}
